body {
    margin: 0;
}


.content {
    /* width: 200px; */
    margin: 0 100px;
    padding: 50px;
    height: 300px;
    background-color: antiquewhite;
    position: relative;
    z-index: 0;
    /* clip: rect(0 0 0 0) */
    /* overflow: auto; */
}

.child {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    position: absolute;
    z-index: -1;
}

.son {
    overflow: hidden;
    height: 50px;
    width: 50px;
    background-color: aqua;
    position: absolute;
}

.f {
    display: flex;
    height: 400px;
    background-color: aqua;
    align-content: center
}

.s {
    background-color: blueviolet;
    height: 100px;
    flex: 2
}




